#root {
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  min-height: 100vh;           /* 画面全体の高さ */
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#role-select {
    margin-bottom: 15px;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* ページ中央に配置 */
  background-color: #f5f5f5;
}

.form-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* 横幅制限 */
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-iframe {
  border: none;
}

.role-select {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("/lol-matchup-quiz/icons/map_fix.PNG"); /* 背景画像 */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* 共通のボタンスタイル */
.role-btn {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid transparent;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.top {
  top: 95px;
  left: 25%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/top_icon.PNG");
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.mid {
  top: 147px;
  left: 48%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/mid_icon.PNG");
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.jg {
  top: 142px;
  left: 34%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/jg_icon.PNG");
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.bot {
  top: 253px;
  left: 67%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/bot_icon.PNG");
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.sup {
  top: 252px;
  left: 82%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/sup_icon.PNG");
}

/* 各ロールごとにアイコン画像を設定 */
.role-btn.bot-sup {
  top: 317px;
  left: 75%;
  transform: translateX(-50%);
  background-image: url("/lol-matchup-quiz/icons/botsup_icon.PNG");
  border-radius: 35%;
  width: 120px;
}

/* .role-btn:hover {
  transform: scale(1.1);
} */

.role-btn.active {
  border-color: #4f46e5; /* 選択時に枠を表示 */
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.6);
}

.champion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 10px;
  justify-items: center;
}

.champion-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s, box-shadow 0.2s;
}

.champion-button.selected {
  outline: 3px solid #4cafef;
  border-radius: 8px;
}

.champion-icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.champion-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}